@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!doctype html>
<html>
    <head>
        <title>First web app</title>
    </head>
    <body>
        <div>Second web app content here</div>
    </body>
</html>